<div class="row">
  <div class="col-sm-8 ml-auto mr-auto">
    <h1 class="text-center"> <%= team.user.name %> </h1>
    <h2 class="text-center"> Week <%= @current_week.number %> Roster </h2>
  </div>
</div>

