<%#
# Navigation

This partial is used to display the navigation in Administrate.
By default, the navigation contains navigation links
for all resources in the admin dashboard,
as defined by the routes in the `admin/` namespace
%>

<nav class="navigation" role="navigation">
  <%= link_to(
    "â† Back to App",
    root_path,
    class: "navigation__link"
  ) %>

  <%= link_to(
    "Users",
    admin_users_path,
    class: "navigation__link"
  ) %>

  <%= link_to(
      "Upload Data",
      admin_data_upload_path,
      class: "navigation__link"
  ) %>
</nav>
